{
    "extends": ["eslint:all", "plugin:react/all"],
    "parser": "babel-eslint",
    "env": { 
            "browser": true, 
            "commonjs": true, 
            "node": true, 
            "es6": true 
    }, 
    "parserOptions": { 
            "ecmaVersion": 7, 
            "sourceType": "module", 
            "ecmaFeatures": { 
                "jsx": true,
                "classes": true, 
                "defaultParams": true 
            } 
    },
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "single"],
        "no-multi-spaces": "warn",
        "no-var": "error",
        "no-spaced-func": "error",
        "no-multiple-empty-lines": "warn",
        "linebreak-style": "off",
        "padded-blocks": "off",
        "arrow-body-style": "off",
        "quote-props": "off",
        "react/destructuring-assignment": "off",
        "object-curly-spacing": ["error", "always"],
        "sort-imports": "off",
        "react/require-optimization": "off",
        "sort-keys": "off",
        "react/sort-prop-types": "off",
        "react/jsx-sort-default-props": "off",
        "no-empty-function": "off",
        "react/jsx-sort-props": "off",
        "class-methods-use-this": "off",
        "react/jsx-first-prop-new-line": "off",
        "react/jsx-max-props-per-line": "off",
        "max-len": "off",
        "react/jsx-handler-names": "off",
        "no-unused-vars": "warn",
        "id-length": "warn",
        "multiline-comment-style": "off", 
        "max-lines-per-function": "off",
        "react/jsx-no-undef": "off",
        "array-element-newline": "off",
        "valid-jsdoc": "off",
        "no-undef": "off",
        "comma-dangle": "off",
        "no-undefined": "off",
        "react/display-name": "off",
        "lines-around-comment": "off",
        "no-magic-numbers": "off",
        "one-var": "off",
        "indent": ["error", 2, { "SwitchCase": 1 }],
        "react/jsx-indent-props": ["error", 2],
        "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
        "react/button-has-type": "off",
        "no-extra-parens": "off",
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-indent": "off",
        "react/jsx-max-depth": "off",
        "react/jsx-curly-brace-presence": "off",
        "no-ternary": "off",
        "multiline-ternary": "off",
        "no-console": "off",
        "capitalized-comments": "off",
        "max-statements-per-line": "off",
        "react/no-set-state": "off",
        "no-invalid-this": "off",
        "react/forbid-component-props": "off",
        "react/static-property-placement": "off",
        "new-cap": "off",
        "function-paren-newline": "off",
        "max-statements": "off",
        "no-return-assign": "off",
        "react/state-in-constructor": "off",
        "react/jsx-no-bind": "off",
        "brace-style": "off",
        "dot-location": "off",
    }
  }